<body id="canvasContainer" class="bodyClass"
    style="background-color:transparent; display:flex; align-items: center; justify-content: center;">
    <div id="canvas" #A class="eventsInnerBody">

        <div class="eventContainerDivider" *ngFor="let entry of timeline; index as i">
            <div class="eventsChapterContainer" >

                <div class="eventsChapterTitle" style="border-bottom: solid 0.01rem black; margin-bottom: 2rem;">
                    <textarea class="title" #entryName rows="1" [value]="entry.name" (input)="editEntryName(i, entryName.value)"
                    (keydown)="editEntryName(i, entryName.value)"
                    (contextmenu)="editEntryName(i, entryName.value)"
                    (paste)="editEntryName(i, entryName.value)"
                    class="vditor-reset  textAreaEvent  scrollBar horizontalText chapterNameTextArea "
                                        placeholder="How will you name this entry?" style="position:relative"></textarea>
                    <button #trash type="button" (click)="removeEntry(i)" #card class="btn btn-icon-only spec" style="position: absolute; top:50%; right:0; transform: translate(0, -50%);" >
                        <fa-icon [icon]="trashIcon"></fa-icon>
                    </button>
                </div>

                <div class="eventsChapterContentDivider" *ngFor="let mission of entry.missions; index as j">
                    <div class="missionNameContainer">
                        <svg width="fit-content" height="100%" top="0">

                        </svg>
                        <textarea #missName rows="3" [value]="mission.name"
                        (input)="editMissionName(i, j, missName.value)"
                        (keydown)="editMissionName(i, j, missName.value)"
                        (contextmenu)="editMissionName(i, j, missName.value)"
                        (paste)="editMissionName(i, j, missName.value)"
                        class="vditor-reset textAreaEvent scrollBar missionNameTextArea"
                                        placeholder="Describe this entry division" style="position:absolute; top:25%; height: 20%; transform: translate(0%, -25%);"></textarea>

                    </div>
                    <div class="timelineContainer">
                        <svg width="fit-content" height="100%" style="position:absolute; z-index:-1">
                            <line x1="50%" y1="0%" x2="50%" y2="100%" style="stroke:rgb(0,0,0);stroke-width:1%" />
                        </svg>
                        <div>
                            <button #trash type="button" #card class="btn btn-icon-only spec deleteMiss" (click)="removeMission(i,j)" *ngIf="j != 0">
                                <fa-icon [icon]="trashIcon" ></fa-icon>
                            </button>
                            <svg width="fit-content" height="100%" top="0">
                                <circle cx="50%" cy="25%" r="1.5rem" stroke="#CFC8C8" stroke-width="0.75%" fill="#16425B" />

                            </svg>
                        </div>

                    </div>
                    <div class="content">
                        <div class="eventCard" *ngFor="let event of mission.events; index as k">
                            <div class="cardBody">
                                <div class="cardHeader">
                                    <div class="cardName">

                                        <textarea id="txtArea" #eventName
                                        (input)="editEventName(i, j, k, eventName.value)"
                                        (keydown)="editEventName(i, j, k, eventName.value)"
                                        (contextmenu)="editEventName(i, j, k, eventName.value)"
                                        (paste)="editEventName(i, j, k, eventName.value)"
                                        rows="1" [value]="event.name" class="vditor-reset textAreaEvent scrollBar horizontalText"
                                        placeholder="How is this event titled?" style="line-height: 1.5 !important;"></textarea>

                                        <button #trash type="button" #card  (click)="removeEvent(i,j,k)" class="btn btn-icon-only spec" *ngIf="k != 0">
                                            <fa-icon [icon]="trashIcon"></fa-icon>
                                        </button>

                                    </div>
                                </div>
                                <div class="horizontalLine"></div>
                                <div class="eventCardContent">
                                    <textarea id="txtArea" #eventContent
                                    (input)="editEventContent(i, j, k, eventContent.value)"
                                    (keydown)="editEventContent(i, j, k, eventContent.value)"
                                    (contextmenu)="editEventContent(i, j, k, eventContent.value)"
                                    (paste)="editEventContent(i, j, k, eventContent.value)"
                                    [value]="event.description" style="margin-top: 0.5rem;"class="vditor-reset textAreaEvent scrollBar"
                                        placeholder="What happens during this event?"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="addEventButtonContainer">
                            <button #trash type="button" (click)="addEvent(i,j)" class="btn btn-icon-only spec">
                                <fa-icon [icon]="plusIcon"></fa-icon>
                            </button>
                        </div>
                    </div>


                </div>

                <div class="eventsChapterContentDivider">
                    <div class="missionNameContainer">
                    </div>
                    <div class="timelineContainer">
                        <div class="addTimelineButtonContainer">
                            <button #trash type="button" (click)="addMission(i)" class="btn btn-icon-only spec">
                                <fa-icon [icon]="plusIcon"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="content">



                    </div>


                </div>


            </div>


        </div>
        <div *ngIf="timeline.length == 0"style="margin: 5% 5%; text-align:center;">
            <span class="characterInfoText">Nothing to see here! Click the plus button to add your first entry to your event timeline.</span>
        </div>
        <div class="addTimelineButtonContainer">
            <button #trash type="button" (click)="addEntry()" class="btn btn-icon-only spec">
                <fa-icon [icon]="plusIcon"></fa-icon>
            </button>
        </div>


    </div>


    <!-- (pointerdown)="setInteractiveElement(B)" -->
    <div class="editing-box elevatorPitch" *ngIf="isBlocked">
      <img class="editing-box__icon" [src]="userBlocking?.image" alt="user" />
      <span class="editing-box__user">{{ userBlocking?.name }}</span>
      <span class="editing-box__text"
        >
        <span *ngIf="userBlocking.name.toLowerCase().endsWith('s')">' </span>
        <span *ngIf="!userBlocking.name.toLowerCase().endsWith('s')">'s </span>
         editing</span>
    </div>
</body>
