<body id="canvasContainer" class="bodyClass"
    style="background-color: aquamarine; display:flex; align-items: center; justify-content: center;">
    <div id="canvas" #A class="eventsInnerBody" style="background-color: rgb(1, 179, 155);">

        <div #0 class="eventContainerDivider">
            <div class="eventsChapterContainer">

                <div class="eventsChapterTitle">
                    <span class="title"> CHAPTER 1 </span>
                </div>

                <div class="eventsChapterContentDivider">
                    <div class="missionNameContainer">
                        <div class="missionNameText"> <span>Mission 1</span> </div>
                    </div>
                    <div class="timelineContainer">
                        <svg width="10vw" height="100%" style="position:absolute; z-index:-1">
                            <line x1="50%" y1="0%" x2="50%" y2="100%" style="stroke:rgb(0,0,0);stroke-width:1%" />
                        </svg>
                        <svg width="100%" height="100%" top="0">
                            <circle cx="50%" cy="25%" r="1.5rem" stroke="#CFC8C8" stroke-width="0.75%" fill="#16425B" />
                        </svg>
                    </div>
                    <div class="content">
                        <div class="eventCard">
                            <div class="cardBody">
                                <div class="cardHeader">
                                    <div class="cardName">

                                        <span>
                                            Hola
                                        </span>

                                        <button #trash type="button" #card class="btn btn-icon-only">
                                            <fa-icon [icon]="trashIcon"></fa-icon>
                                        </button>

                                    </div>
                                </div>
                                <div class="horizontalLine"></div>
                                <div class="eventCardContent">
                                    <textarea id="txtArea" #txtArea class="vditor-reset textArea scrollBar"
                                        placeholder="Describe your game's main aesthetic here."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="eventCard">
                            <div class="cardBody">
                                <div class="cardHeader">
                                    <div class="cardName">

                                        <button type="button" #but class="btn">
                                            <span>
                                            </span>
                                        </button>

                                        <button #trash type="button" #card class="btn btn-icon-only">
                                            <fa-icon [icon]="trashIcon"></fa-icon>
                                        </button>

                                    </div>
                                </div>
                                <div class="horizontalLine"></div>
                                <div class="eventCardContent">
                                    <textarea id="txtArea" #txtArea class="vditor-reset textArea scrollBar"
                                        placeholder="Describe your game's main aesthetic here."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="eventCard">
                            <div class="cardBody">
                                <div class="cardHeader">
                                    <div class="cardName">

                                        <button type="button" #but class="btn">
                                            <span>
                                            </span>
                                        </button>

                                        <button #trash type="button" #card class="btn btn-icon-only">
                                            <fa-icon [icon]="trashIcon"></fa-icon>
                                        </button>

                                    </div>
                                </div>
                                <div class="horizontalLine"></div>
                                <div class="eventCardContent">
                                    <textarea id="txtArea" #txtArea class="vditor-reset textArea scrollBar"
                                        placeholder="Describe your game's main aesthetic here."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="eventCard">
                            <div class="cardBody">
                                <div class="cardHeader">
                                    <div class="cardName">

                                        <button type="button" #but class="btn">
                                            <span>
                                            </span>
                                        </button>

                                        <button #trash type="button" #card class="btn btn-icon-only">
                                            <fa-icon [icon]="trashIcon"></fa-icon>
                                        </button>

                                    </div>
                                </div>
                                <div class="horizontalLine"></div>
                                <div class="eventCardContent">
                                    <textarea id="txtArea" #txtArea class="vditor-reset textArea scrollBar"
                                        placeholder="Describe your game's main aesthetic here."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="addEventButtonContainer">
                            <button #trash type="button"  class="btn btn-icon-only">
                                <fa-icon [icon]="plusIcon"></fa-icon>
                            </button>
                        </div>
                    </div>

                    
                </div>
                
                <div class="eventsChapterContentDivider">
                    <div class="missionNameContainer">
                    </div>
                    <div class="timelineContainer">
                        <div class="addTimelineButtonContainer">
                            <button #trash type="button"  class="btn btn-icon-only">
                                <fa-icon [icon]="plusIcon"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        
                        
                        
                    </div>

                    
                </div>

                
            </div>
        </div>
        

    </div>


    <!-- (pointerdown)="setInteractiveElement(B)" -->

</body>