<body id="canvasContainer" class="bodyClass" style="background-color: aquamarine; display:flex; align-items: center; justify-content: center;">
    <div id="canvas" #A  class="innerBody" style="background-color: darkblue;">
        <div id="" (pointerdown)="setInteractiveElement(A)" style="background-color: brown; width: 40px; height: 40px;" >

        </div>
    
    </div>

    <!-- <div id="canvas2" #B class="innerBody" style="background-color: rgb(51, 255, 0); right: 0;">
        <div id="" (pointerdown)="setInteractiveElement(B)" style="background-color: brown; width: 40px; height: 40px;" >

        </div>
    
    </div> -->
    
</body>
