<div class="diagram">
  <div class="first__row">
    <div class="text-box tb-center">
      <textarea class="text-box__textarea" placeholder="Enter text here"></textarea>

    </div>
  </div>
  <div class="second__row">
    <img src="assets/img/arrow.svg" class="left-arrow" alt="red arrow" />
    <img src="assets/img/arrow.svg" class="right-arrow" alt="red arrow" />
  </div>
  <div class="third__row">
    <div class="text-box tb-left">
      <textarea class="text-box__textarea" placeholder="Enter text here"></textarea>
    </div>
    <div class="text-box tb-right">
      <textarea class="text-box__textarea" placeholder="Enter text here"></textarea>

    </div>
  </div>
  <div class="fourth__row">
    <img src="assets/img/arrow.svg" class="left-arrow" alt="red arrow" />
    <img src="assets/img/arrow.svg" class="right-arrow" alt="red arrow" />
  </div>
  <div class="fifth__row">
    <div class="text-box tb-center">
      <textarea class="text-box__textarea" placeholder="Enter text here"></textarea>

    </div>
  </div>
</div>
