<div class="cgl-diagram" [ngClass]="isBlocked ? 'disabled-component' : ''">
  <div class="text-box tb-center T1">
    <textarea
      class="text-box__textarea"
      placeholder="Enter text here"
      (input)="onValueChange($event, 'first')"
      (keydown)="onValueChange($event, 'first')"
      (contextmenu)="onValueChange($event, 'first')"
      (paste)="onValueChange($event, 'first')"
      [value]="coreGameplayLoopContent.first || ''"
    ></textarea>
  </div>
  <img src="assets/img/A1L.svg" class="left-arrow A1L" alt="red arrow" />
  <img src="assets/img/A1R.svg" class="right-arrow A1R" alt="red arrow" />
  <div class="text-box tb-left T2">
    <textarea
      class="text-box__textarea"
      placeholder="Enter text here"
      (input)="onValueChange($event, 'second')"
      (keydown)="onValueChange($event, 'second')"
      (contextmenu)="onValueChange($event, 'second')"
      (paste)="onValueChange($event, 'second')"
      [value]="coreGameplayLoopContent.second || ''"
    ></textarea>
  </div>
  <div class="text-box tb-right T3">
    <textarea
      class="text-box__textarea"
      placeholder="Enter text here"
      (input)="onValueChange($event, 'third')"
      (keydown)="onValueChange($event, 'third')"
      (contextmenu)="onValueChange($event, 'third')"
      (paste)="onValueChange($event, 'third')"
      [value]="coreGameplayLoopContent.third || ''"
    ></textarea>
  </div>
  <img src="assets/img/A2L.svg" class="left-arrow A2L" alt="red arrow" />
  <img src="assets/img/A2R.svg" class="right-arrow A2R" alt="red arrow" />
  <div class="text-box tb-center T4">
    <textarea
      class="text-box__textarea"
      placeholder="Enter text here"
      (input)="onValueChange($event, 'fourth')"
      (keydown)="onValueChange($event, 'fourth')"
      (contextmenu)="onValueChange($event, 'fourth')"
      (paste)="onValueChange($event, 'fourth')"
      [value]="coreGameplayLoopContent.fourth || ''"
    ></textarea>
  </div>
</div>
<div class="editing-box elevatorPitch" *ngIf="isBlocked">
  <img class="editing-box__icon" [src]="userBlocking?.image" alt="user" />
  <span class="editing-box__user">{{ userBlocking?.name }}</span>
  <span class="editing-box__text">
    <span *ngIf="userBlocking.name.toLowerCase().endsWith('s')">' </span>
    <span *ngIf="!userBlocking.name.toLowerCase().endsWith('s')">'s </span>
    editing</span
  >
</div>
