





$svg-height: var(--svg-height);
$text-box-height: var(--text-box-height);
$empty-box-height: var(--empty-box-height);
$primary-color: var(--primary-color);
$text-box-width: var(--text-box-width);
$box-border: var(--box-border);

h1 {
  margin-bottom: max(10px, 2vh);
}

.diagram-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  --svg-height: max(680px, 68vh);
  --text-box-height: max(134.3px, 13.43vh);
  --empty-box-height: max(39.1px, 3.91vh);
  --primary-color: #17415b;
  --text-box-width: 70%;
  --box-border: max(4.25px, 0.425vh);

}

@media screen and (max-width: 1200px) {
  div.diagram-screen {
  }

  div.diagram {
    width: 100%;
  }
}

@media screen and (max-height: 900px) {
  div.diagram-screen {
    --svg-height: min(600px, 60vh);
    --text-box-height: min(118.5px, 11.85vh);
    --empty-box-height: min(34.5px, 3.45vh);
    --box-border: min(3.75px, 0.375vh);
  }
}

@media screen and (max-height: 650px) {
  div.diagram-screen {
    --svg-height: min(450px, 45vh) !important;
    --text-box-height: min(90px, 9vh) !important;
    --empty-box-height: min(27px, 2.7vh) !important;
    --box-border: min(3px, 0.3vh) !important;
  }
}










@media screen and (max-width: 650px) {
  div.diagram-screen {
    --svg-height: max(500px, 50vh);
    --text-box-height: max(98.33px, 9.833vh);
    --empty-box-height: max(29.16px, 2.916vh);
    --box-border: max(3.33px, 0.333vh);
  }

  .svg-diagram {
    display: none;
  }

  div.diagram {
    &__text-container {
      border-left: $box-border solid $primary-color;
    }
  }
}

.svg-diagram {
  height: $svg-height;
  width: fit-content;
}

.diagram {


  display: flex;
  grid-template-columns: 800px 600px;
  width: 80%;
  justify-content: center;

  &__text-container {
    border-right: $box-border solid $primary-color;
    display: flex;
    flex-direction: column;
    width: $text-box-width;
    &__text {
      height: $text-box-height;
      background-color: white;
      width: 100%;

      border-top: $box-border solid $primary-color;

      &:not(.empty) {
        height: calc($text-box-height + $box-border);
      }

      &.fourth {
        height: calc($text-box-height + $box-border + $box-border);
      }

      &.empty {
        height: $empty-box-height;

        &:last-of-type {
          height: calc($empty-box-height + $box-border);
          border-bottom: $box-border solid $primary-color;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  $svg-height: 400px;
}

.editing-box {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1.5px solid #16425b;
  z-index: 500000;
  margin-right: 2.5rem !important;
  margin-bottom: 1rem;
  transform: scale(.8);
}
