<div id="markdown-editor" class="markdown-wrapper">
  <div [class.blocked-div]="!isBlocked" class="toolbarBar">
    <i class="fas fa-chevron-down icon"></i>
  </div>
  <div
    (keydown)="onKeyDown($event)"
    (contextmenu)="onContextMenu($event)"
    (paste)="onKeyDown($event)"
    (input)="onKeyDown($event)"
    [ngClass]="isBlocked ? 'disabled-component' : ''"
    id="vditor"
  ></div>
  <div class="editing-box" *ngIf="isBlocked">
    <img class="editing-box__icon" [src]="userBlocking?.image" alt="user" />
    <span class="editing-box__user">{{ userBlocking?.name }}</span>
    <span class="editing-box__text"
      ><span *ngIf="usersBlocking?.name[-1].lower() != 's'">'s</span>
      editing</span
    >
  </div>
</div>
<input
  type="file"
  [hidden]="true"
  accept="image/*"
  id="fileSelector"
  (change)="onFileSelected($event)"
  [disabled]="isBlocked"
/>
