$borderState: none 2px;
$icon-size: min(4vh, 4vw);

.toolbarBar {
    position: absolute;
    width: 100%;
    //height: 1vh;
    height: 6px;
    background-color: #bdbdbd;
    //border: red $borderState;
    z-index: 20;
    pointer-events: none;
    display: flex;
    justify-content: center;

    i {
        font-size: 0.5em;
        margin-top: -1px;
        border: red $borderState;
    }
}

// .vditor {
//     &-toolbar {
//         // padding-bottom: 3rem !important;
//         // margin: 4vh !important;
//         border: red solid 2px !important;
//         // background-color: aqua;
//     }
    
//     .vditor-content {
//         border: rgb(32, 177, 88) solid 2px !important;
//     }
// }

.markdown-wrapper {
    background-color: inherit;
    position: relative;
    height: 100%;
    width: 100%;
    border: blue $borderState;
}

.hide-toolbar {
    transform: rotate(-90deg);
    transition: 0.3s;

    position: absolute;
    top: -0.2vh;
    right: 2vw;

    z-index: 100;

    width: $icon-size;
    height: $icon-size;

    cursor: pointer;

    // border: slateblue $borderState;

    filter: invert(67%) sepia(17%) saturate(11%) hue-rotate(314deg) brightness(107%) contrast(99%);
}

.hide-toolbar:hover {
    filter: none;
}
