<div class="bodyClass">
  <div class="basicInfoInnerBody">
    <div class="basicInfoContainer scrollBar">
      <!-- Elevator Pitch -->
      <div
        class="basicInfoCard"
        [ngClass]="isBlocked.elevatorPitch ? 'disabled-component' : ''"
      >
        <div class="cardBody">
          <div class="cardHeader">
            <div class="title">
              <span> Elevator Pitch </span>
              <div
                class="editing-box elevatorPitch"
                *ngIf="isUserEditing.elevatorPitch"
              >
                <img
                  class="editing-box__icon"
                  [src]="userBlocking.elevatorPitch?.image"
                  alt="user"
                />
                <span class="editing-box__user">{{
                  userBlocking.elevatorPitch?.name
                }}</span>
                <span class="editing-box__text">
                  <span
                    *ngIf="
                      userBlocking.elevatorPitch.name
                        .toLowerCase()
                        .endsWith('s')
                    "
                    >'
                  </span>
                  <span
                    *ngIf="
                      !userBlocking.elevatorPitch.name
                        .toLowerCase()
                        .endsWith('s')
                    "
                    >'s
                  </span>
                  editing</span
                >
              </div>
            </div>
          </div>
          <div class="horizontalLine"></div>
          <div class="basicInfoCardContent">
            <textarea
              id="txtArea"
              #txtArea
              class="vditor-reset textArea scrollBar"
              [value]="elevatorPitch"
              placeholder=""
              [(ngModel)]="elevatorPitch"
              (input)="updateDocument('elevatorPitch', $event)"
              (keydown)="onChangeBlock($event, 'elevatorPitch')"
              (contextmenu)="onChangeBlock($event, 'elevatorPitch')"
              (paste)="onChangeBlock($event, 'elevatorPitch')"
            ></textarea>
          </div>
        </div>
      </div>
      <!-- Tagline -->
      <div
        class="basicInfoCard"
        [ngStyle]="{
          'min-height': 'max(20vh, 20vw)'
        }"
        [ngClass]="isBlocked.tagline ? 'disabled-component' : ''"
      >
        <div class="cardBody">
          <div class="cardHeader">
            <div class="title">
              <span> Tagline </span>
              <div class="editing-box tagline" *ngIf="isUserEditing.tagline">
                <img
                  class="editing-box__icon"
                  [src]="userBlocking.tagline?.image"
                  alt="user"
                />
                <span class="editing-box__user">{{
                  userBlocking.tagline?.name
                }}</span>
                <span class="editing-box__text">
                  <span
                    *ngIf="
                      userBlocking.tagline.name.toLowerCase().endsWith('s')
                    "
                    >'
                  </span>
                  <span
                    *ngIf="
                      !userBlocking.tagline.name.toLowerCase().endsWith('s')
                    "
                    >'s
                  </span>
                  editing</span
                >
              </div>
            </div>
          </div>
          <div class="horizontalLine"></div>
          <div class="basicInfoCardContent">
            <textarea
              id="txtArea"
              #txtArea
              class="vditor-reset textArea scrollBar"
              [value]="tagline"
              placeholder=""
              [(ngModel)]="tagline"
              (input)="updateDocument('tagline', $event)"
              (keydown)="onChangeBlock($event, 'tagline')"
              (contextmenu)="onChangeBlock($event, 'tagline')"
              (paste)="onChangeBlock($event, 'tagline')"
            ></textarea>
          </div>
        </div>
      </div>
      <!-- Genre -->
      <div
        class="basicInfoCard"
        [ngStyle]="{
          'min-height': 'max(20vh, 30vw)'
        }"
        [ngClass]="isBlocked.genres ? 'disabled-component' : ''"
      >
        <div class="cardBody">
          <div class="cardHeader">
            <div class="title">
              <span> Genres </span>
              <div class="editing-box genres" *ngIf="isUserEditing.genres">
                <img
                  class="editing-box__icon"
                  [src]="userBlocking.genres?.image"
                  alt="user"
                />
                <span class="editing-box__user">{{
                  userBlocking.genres?.name
                }}</span>
                <span class="editing-box__text">
                  <span
                    *ngIf="userBlocking.genres.name.toLowerCase().endsWith('s')"
                    >'
                  </span>
                  <span
                    *ngIf="
                      !userBlocking.genres.name.toLowerCase().endsWith('s')
                    "
                    >'s
                  </span>
                  editing</span
                >
              </div>
            </div>
          </div>
          <div class="horizontalLine"></div>
          <div class="basicInfoCardContent">
            <div class="tagsContent">
              <div class="genreBody">
                <div class="titleContentContainer">
                  <div class="subtitleContainer">
                    <span class="subtitle">Add Genre</span>
                  </div>
                  <div class="contentContainer" style="height: 100%">
                    <div class="inputContainer">
                      <div class="textPart">
                        <input
                          id="genreText"
                          class="textBox"
                          type="text"
                          placeholder="New genre"
                          [(ngModel)]="genreName"
                        />
                      </div>
                      <div class="buttonPart">
                        <button class="btn" (click)="addGenre()">
                          <svg
                            class="icon"
                            style="
                              filter: invert(100%) sepia(0%) saturate(7500%)
                                hue-rotate(247deg) brightness(110%)
                                contrast(108%);
                            "
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                          >
                            <polygon
                              fill-rule="evenodd"
                              points="13 11 22 11 22 13 13 13 13 22 11 22 11 13 2 13 2 11 11 11 11 2 13 2"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="titleContentContainer">
                  <div class="subtitleContainer">
                    <span class="subtitle">Game Genres</span>
                  </div>
                  <div class="contentContainer">
                    <div class="genresList">
                      <div
                        class="genreContainer"
                        *ngFor="let genre of genres; index as i"
                      >
                        <span class="txt">{{ genre }}</span>
                        <button class="btn" (click)="deleteGenre(i)">
                          <svg
                            class="icon"
                            style="
                              filter: invert(100%) sepia(0%) saturate(7500%)
                                hue-rotate(247deg) brightness(110%)
                                contrast(108%);
                            "
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tags -->
      <div
        class="basicInfoCard"
        [ngStyle]="{
          'min-height': 'max(20vh, 30vw)'
        }"
        [ngClass]="isBlocked.tags ? 'disabled-component' : ''"
      >
        <div class="cardBody">
          <div class="cardHeader">
            <div class="title">
              <span> Tags </span>
              <div class="editing-box tags" *ngIf="isUserEditing.tags">
                <img
                  class="editing-box__icon"
                  [src]="userBlocking.tags?.image"
                  alt="user"
                />
                <span class="editing-box__user">{{
                  userBlocking.tags?.name
                }}</span>
                <span class="editing-box__text">
                  <span
                    *ngIf="userBlocking.tags.name.toLowerCase().endsWith('s')"
                    >'
                  </span>
                  <span
                    *ngIf="!userBlocking.tags.name.toLowerCase().endsWith('s')"
                    >'s
                  </span>
                  editing</span
                >
              </div>
            </div>
          </div>
          <div class="horizontalLine"></div>
          <div class="basicInfoCardContent">
            <div class="tagsContent">
              <div class="genreBody">
                <div class="titleContentContainer">
                  <div class="subtitleContainer">
                    <span class="subtitle">Add Tag</span>
                  </div>
                  <div class="contentContainer" style="height: 100%">
                    <div class="inputContainer">
                      <div class="textPart">
                        <input
                          id="tagText"
                          class="textBox"
                          type="text"
                          placeholder="New tag"
                          [(ngModel)]="tagName"
                        />
                      </div>
                      <div class="buttonPart">
                        <button class="btn" (click)="addTag()">
                          <svg
                            class="icon"
                            style="
                              filter: invert(100%) sepia(0%) saturate(7500%)
                                hue-rotate(247deg) brightness(110%)
                                contrast(108%);
                            "
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                          >
                            <polygon
                              fill-rule="evenodd"
                              points="13 11 22 11 22 13 13 13 13 22 11 22 11 13 2 13 2 11 11 11 11 2 13 2"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="titleContentContainer">
                  <div class="subtitleContainer">
                    <span class="subtitle">Game Tags</span>
                  </div>
                  <div class="contentContainer">
                    <div class="genresList">
                      <div
                        class="genreContainer"
                        *ngFor="let tag of tags; index as i"
                      >
                        <span class="txt">{{ tag }}</span>
                        <button class="btn" (click)="deleteTag(i)">
                          <svg
                            class="icon"
                            style="
                              filter: invert(100%) sepia(0%) saturate(7500%)
                                hue-rotate(247deg) brightness(110%)
                                contrast(108%);
                            "
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
