.circle1 {
  all: initial;
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 170px;
  border: 1px solid #4e82bc;
  background-color: #4e82bc;
}

.circle2 {
  all: initial;
  position: absolute;
  top: 110px;
  left: 60px;
  width: 220px;
  height: 220px;
  border-radius: 110px;
  border: 2px solid #FFFFFF;
  background-color: #4e82bc;
}

.circle3 {
  all: initial;
  position: absolute;
  top: 212px;
  left: 120px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #FFFFFF;
  background-color: #4e82bc;
}

.textArea1 {
  all: initial;
  position: absolute;
  width: 500px;
  height: 100px;
  top: 8px;
  left: 170px;
  background-color: #FFFFFF;
  border: 2px solid #4e82bc;
}

.textArea2 {
  all: initial;
  position: absolute;
  width: 500px;
  height: 100px;
  top: 110px;
  left: 170px;
  background-color: #FFFFFF;
  border: 2px solid #4e82bc;
}

.textArea3 {
  all: initial;
  position: absolute;
  width: 500px;
  height: 100px;
  top: 212px;
  left: 170px;
  background-color: #FFFFFF;
  border: 2px solid #4e82bc;
}

.textArea4 {
  all: initial;
  position: absolute;
  width: 500px;
  height: 16px;
  top: 314px;
  left: 170px;
  background-color: #FFFFFF;
  border: 2px solid #4e82bc;
}

.textArea5 {
  all: initial;
  position: absolute;
  width: 500px;
  height: 14px;
  top: 332px;
  left: 170px;
  background-color: #FFFFFF;
  border: 2px solid #4e82bc;
}
