// $svg-height: max(800px, 80vh);
// $text-box-height: max(220px, 22vh);
// $empty-box-height: max(63px, 6.3vh);
// $primary-color: #17415b;
// $text-box-width: max(800px, 50vw);
// $box-border: max(5px, 0.5vh);
// $svg-height: 800px;
// $text-box-height: 158px;
// $empty-box-height: 46px;
// $primary-color: #17415b;
// $text-box-width: 800px;
// $box-border: 5px;

$svg-height: --svg-height;
$text-box-height: --text-box-height;
$empty-box-height: --empty-box-height;
$primary-color: --primary-color;
$text-box-width: --text-box-width;
$box-border: --box-border;

h1 {
  margin-bottom: max(10px, 2vh);
}
.diagram-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;

  --svg-height: max(800px, 80vh);
  --text-box-height: max(220px, 22vh);
  --empty-box-height: max(63px, 6.3vh);
  --primary-color: #17415b;
  --text-box-width: max(800px, 50vw);
  --box-border: max(5px, 0.5vh);
}

.svg-diagram {
  height: $svg-height;
  // width: calc($svg-height/2);
}

.diagram {
  // display: flex;
  // flex-wrap: nowrap;
  display: flex;
  grid-template-columns: 800px 600px;

  &__text-container {
    border-right: $box-border solid $primary-color;
    display: flex;
    flex-direction: column;
    &__text {
      height: $text-box-height;
      background-color: white;
      width: $text-box-width;

      border-top: $box-border solid $primary-color;

      &:not(.empty) {
        height: calc($text-box-height + $box-border);
      }

      &.fourth {
        height: calc($text-box-height + $box-border + $box-border);

      }

      &.empty {
        height: $empty-box-height;

        &:last-of-type {
          height: calc($empty-box-height + $box-border);
          border-bottom: $box-border solid $primary-color;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  $svg-height: 400px;
}
