<div class="diagram-screen">
  <!-- <div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>

<div class="textArea1"><div>TEXT!!!</div></div>
<div class="textArea2"><div>TEXT!!!</div></div>
<div class="textArea3"><div>TEXT!!!</div></div>
<div class="textArea4"></div>
<div class="textArea5"></div> -->
  <h1>Core Mechanic Diagram</h1>
  <div class="diagram">
    <img
      src="assets/img/Core_Diagram.svg"
      alt="Core Diagram"
      class="svg-diagram"
    />

    <div class="diagram__text-container">
      <div class="diagram__text-container__text">
        <div class="core-diagram__vditor1" id="vditor1"></div>
      </div>
      <div class="diagram__text-container__text">
        <div class="core-diagram__vditor2" id="vditor2"></div>
      </div>
      <div class="diagram__text-container__text">
        <div class="core-diagram__vditor3" id="vditor3"></div>
      </div>
      <div class="diagram__text-container__text fourth">
        <div class="core-diagram__vditor4" id="vditor4"></div>
      </div>
      <div class="diagram__text-container__text empty"></div>
      <div class="diagram__text-container__text empty"></div>
      <div class="diagram__text-container__text empty"></div>
    </div>
  </div>
</div>
