
          

      <div class="bodyClass">
        <div class="imageContainer">
      
        </div>
      
        <!-- <video autoplay muted loop id="myVideo" class="videoContainer">
          <source src="https://cdn.pixabay.com/vimeo/616430996/video-games-89894.mp4?width=1280&expiry=1681689953&hash=bad1b30ce762a17e36430a386d4febe8414ce074" type="video/mp4">
        </video> -->
        <div class="loginContainer backGAnim">
          <div class="wlcmText">
            Nice to see new faces!
          </div>
          <div class="cardBdy">
          <div class="text-center text-muted mb-4">
            <small>Register a new account</small>
          </div>
          <form class="needs-validation was-validated" [formGroup]="registerForm">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                <input class="form-control" formControlName="name" placeholder="Name" type="text" required style="border-top-right-radius: 0.375rem; border-bottom-right-radius: 0.375rem;">
                <div *ngIf="registerForm.get('name').invalid && (registerForm.get('name').touched || formSubmitted)" class="invalid-feedback">
                  <div *ngIf="registerForm.get('name').errors.required">A name is required</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" formControlName="email" placeholder="Email" type="email" required style="border-top-right-radius: 0.375rem; border-bottom-right-radius: 0.375rem;">
                <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').touched || formSubmitted)" class="invalid-feedback">
                  <div *ngIf="registerForm.get('email').errors.required">An email is required</div>
                  <div *ngIf="registerForm.get('email').errors.email">The email is invalid</div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button (click)="confirmRegister()" class="btn btn-primary mt-4">Create account</button>
            </div>
            <div class="row mt-3" style="justify-content: center;">
              <div class="col-6" style="text-align: center;">
                <a routerLink="/login" class="text-light"><small>Back to login</small></a>
              </div>
            </div>
          </form>
 
      
            
        </div>
      </div>
    </div>