<div class="bodyClass">
    
    <div class="contentContainer" style="height: 100%;">
        <div class="subtitleContainer" style="justify-content: center; height: 10%;">
            <span class="subtitle">The setup is ready. Make sure everything you entered is correct.</span>  
        </div>
        <div class="buttonContainer">
            <button (click)="finishSetup()" class="btn btn-default btn-md mt-3" style="padding:2vh; width: fit-content; height: fit-content; font-size: min(1.5vh, 1.5vw); ">
                Finish Setup
            </button>
        </div>
    </div>
</div>
