<div class="bodyClass">
    <div class="contentContainer" style="height: 100%;">
        <div class="col">
            <div class="row ">
                <span class="subtitle">The setup is ready. Make sure everything you entered is correct</span>
            </div>
            <div class="row">
                <span class="subtitle">Please press the button to finish</span>  
            </div>
            <div class="row">
                <button (click)="finishSetup()" type="button" class="btn btn-icon-only">
                    <i class="fas fa-arrow-up"></i>
                </button>
            </div>
            <div style="height: 3vh;"></div>
        </div>
    </div>
</div>

<!-- <div class="bodyClass">
    <div class="contentContainer" style="height: 100%;">
        <div>
            
        </div>
        <div class="subtitleContainer" style="justify-content: center; height: 10%;">
            <div class="col">
                <div class="row">
                    <span class="subtitle">The setup is ready. Make sure everything you entered is correct</span>
                </div>
                <div class="row">
                    <span class="subtitle">Please press the button to finish</span>  
                </div>
            </div>
        </div>
        <div class="buttonContainer">
            <button (click)="finishSetup()" type="button" class="btn btn-icon-only">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </div>
</div> -->

