.platformsBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: solid 1px #5f8b56;
}


.contentContainer{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: solid 1px #8b565f;
}

$resizeFont: min(clamp(0.3em, 1vw, 3em), clamp(0.3em, 1vh, 3em));

.platformCanvas{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10%;
    margin: 0;
    border: solid 1px #8b565f;

    
}

.flexCont{
    
    height: fit-content;
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 0;
    border: solid 1px #4d0f19;
    flex: 0 0 21%;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #c7c7c7;
    border-radius: inherit;

    padding: 5%;

    .overlayImage{
        position: relative;
        height: inherit;
        border-radius: inherit;
        display: none;

        
    }
  }
  

  .btn:active .overlay {
    opacity: 0.6;
    background-color: #005500;
  }

  .btn:active .overlay .overlayImage{
    display: block;
  }

  
  

$size: min(clamp(25px, 10vw, 150px), clamp(25px, 10vh, 150px));
.platformContainer{
    
    height: $size;
    width: $size;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border: #979797 solid 2px;
    background-color: #c7c7c7;

    padding: 1%;

    .btn{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        border-radius: 10px;
    
        .platformImage{
            position: relative;
            height: inherit;
            border-radius: inherit;
            display: block;

            
        }

        .btn:hover .platformImage{
            filter: contrast(1.5);
        }

        

        
    }

    .platformText{
        display: block;
        position: relative;
        width: 100%;
        height: fit-content;

        color: black;
        font-size: $resizeFont;
        font-weight: 700;
        text-align: center;

        border: solid 1px #8b565f;
    }
}