<div class="platformsBody">
    <div class="subtitleContainer">
        <span class="subtitle">Select the platforms on which your game will run</span>
    </div>
    <div class="contentContainer">
        <div class="platformCanvas">

            <div class="flexCont">
                <div class="platformContainer">
                    <button class="btn">
                        <img class="platformImage"
                            src="https://e7.pngegg.com/pngimages/24/817/png-clipart-playstation-4-raiders-of-the-broken-planet-playstation-network-playstation-plus-playstation-electronics-text.png"
                            alt="">
                        <div class="overlay">
                            <img class="overlayImage"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Check_mark_23x20_02.svg/1081px-Check_mark_23x20_02.svg.png"
                                alt="">
                        </div>
                    </button>
                    <div class="platformText">
                        <span>Playstation</span>
                    </div>
                </div>
            </div>

            <div class="flexCont">
                <div class="platformContainer">
                    <div class="platformImage">

                    </div>
                    <div class="platformText">

                    </div>
                </div>
            </div>

            <div class="flexCont">
                <div class="platformContainer">
                    <div class="platformImage">

                    </div>
                    <div class="platformText">

                    </div>
                </div>
            </div>

            <div class="flexCont">
                <div class="platformContainer">
                    <div class="platformImage">

                    </div>
                    <div class="platformText">

                    </div>
                </div>
            </div>

            <div class="flexCont">
                <div class="platformContainer">
                    <div class="platformImage">

                    </div>
                    <div class="platformText">

                    </div>
                </div>
            </div>

            <div class="flexCont">
                <div class="platformContainer">
                    <div class="platformImage">

                    </div>
                    <div class="platformText">

                    </div>
                </div>
            </div>

            <div class="flexCont">
                <div class="platformContainer">
                    <div class="platformImage">

                    </div>
                    <div class="platformText">

                    </div>
                </div>
            </div>



        </div>

    </div>
</div>