

<div class="bodyClass">
    <div class="contentContainer">
        <div class="subtitleContainer" style="justify-content: center; height: 10%;">
            <span class="subtitle">{{subtitle}}</span>  
        </div>
        <div class="lowerContainer">
            <textarea id="txtArea" class="textArea" [value]="currentTextInBox" (input)="onTextChange($event.target.value)" style="font-size: min(clamp(0em, 2vw, 15em), clamp(0em, 2vh, 15em)); text-align: left; min-height: 30vh;" placeholder=""></textarea>
        </div>
    </div>
</div>