$borderState: none;

.shrink{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.genreBody{

    height: 100%;
    width: 60%;
    padding: 0;
    margin: 0;
    border: $borderState 1px #29f800;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.titleContentContainer{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 60%;
    padding: 0;
    margin: 0;
    border: $borderState 1px #05d0eb;
}

$contentPadding: 2%;

.contentContainer{
    display: flex;
    flex-direction: column;

    
    justify-content: center;

    position: relative;

    height: 100%;
    width: 100%;
    max-height: 75%;
    padding: 0% 0%;
    margin: 0;
    border: $borderState 1px #9900ff;
}

$resizeFont: min(clamp(0.3em, 3vw, 3em), clamp(0.3em, 3vh, 3em));

.subtitleContainer{
    display: flex;
    flex-direction: row;
   
    justify-content: left;

    
    width: 100%;

    padding: $contentPadding;
    margin: 0;
    
    border: $borderState 1px #eb05d0;

    

    .subtitle{
        font-size: $resizeFont;
        font-weight: 700;
    
        width: fit-content;
        height: fit-content;
        
        color: #757575;
        outline: none;
        resize: none;
        overflow: auto; 
    
        border: $borderState 1px #eb9b05;
    }
}

.inputContainer{
    position: relative;
    display: flex;
    width: 75%;
    height: 15%;
    

    flex-direction: row;
}

.addButton{
    height: 100%;
    width: fit-content;
}


.icon{
    position: inherit;
    width: 100%;
    height: 100%;
    scale: 0.7;
    display: block;
 }

.textPart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: $borderState 1px #eb05d0;
}

.buttonPart{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: $borderState 1px #053beb;

    .btn{
        height: 100%;
        width: 100%;
        border: $borderState 1px #eb05d0;

        background-color: rgb(153, 153, 153);

        

        &:hover{

            background-color: #16425b;
            
            
        }

        
    }
}

.genresList{
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    width: 90%;

    height:100%;

    border: solid 3px #b6b6b6;

    overflow: auto;

    padding: 5% 10%;

    background-color: #16425b;
}

$scrollbar-width: 6px;
$default: #f7f7f7;
$tertiary: #c7c7c7;

.genresList::-webkit-scrollbar {
    width: $scrollbar-width;
    background-color: $default;
    z-index: 2;
}
  
/* Track */
.genresList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $default; 
}

/* Handle */
.genresList::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: $tertiary;
}

.genreContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 25%;

    border-radius: 8px;
    border: $borderState 3px #b6b6b6;
    background-color: #d1d1d1;

    align-items: center;
    padding: 5%;

    margin-bottom: 2px;

    .genreText{
        
        color: #000000;
        font-size: $resizeFont;
        font-weight: 700;
        width: 100%;
    }

    .deleteButton{
        background-color: #751515;
        border: $borderState 1px #eb05d0;
    }
}

.white-filter{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(247deg) brightness(110%) contrast(108%);
}

.txt{
    width: 100%;
}

.btn{
    background-color: rgb(146, 146, 146);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    

    &:hover{
        background-color: red;
    }
}
