<div class="bodyClass">
  <!-- <div class="detailInnerBody">
    
  </div> -->
  <div class="detailContainer scrollBar">
    <!-- Representation -->
    <div class="detailCard">
      <div class="detailCardBody">
        <div class="detailCardHeader">
          <div class="detailTitle">
            <span> Representation </span>
          </div>
        </div>
        <div class="detailHorizontalLine"></div>
        <div class="detailCardContent">
          <div class="grid">
            <div class="detailSubTitleGrid detailCharacterInfoText">Tokens</div>
            <textarea class="detailTextArea detailGreyBG scrollBar resize-ta" rows="1"
              [(ngModel)]="this.details.tokens"
              (input)='this.growShrink($event, this.details.tokens)'
            ></textarea>
            <div class="detailSubTitleGrid detailCharacterInfoText">Resources</div>
            <textarea class="detailTextArea detailGreyBG scrollBar resize-ta" rows="1"
              [(ngModel)]="this.details.resources"
              (input)='this.growShrink($event, this.details.resources)'
            ></textarea>
            <div class="detailSubTitleGrid detailCharacterInfoText">Additional<br> Elements</div>
            <textarea class="detailTextArea detailGreyBG scrollBar resize-ta" rows="1"
              [(ngModel)]="this.details.additionalElements"
              (input)='this.growShrink($event, this.details.additionalElements)'
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- Decisions -->
    <div class="detailCard">
      <div class="detailCardBody">
        <div class="detailCardHeader">
          <div class="detailTitle">
            <span> Decisions </span>
          </div>
        </div>
        <div class="detailHorizontalLine"></div>
        <div class="detailCardContent">
          <textarea class="vditor-reset detailTextArea scrollBar resize-ta"
            [(ngModel)]="this.details.decisions"
            (input)='this.growShrink($event, this.details.decisions, true)'
          ></textarea>
        </div>
      </div>
    </div>
    <!-- Goals -->
    <div class="detailCard">
      <div class="detailCardBody">
        <div class="detailCardHeader">
          <div class="detailTitle">
            <span> Goals </span>
          </div>
        </div>
        <div class="detailHorizontalLine"></div>
        <div class="detailCardContent">
          <div class="grid">
            <div class="detailSubTitleGrid detailCharacterInfoText">Intermediate</div>
            <textarea class="detailTextArea detailGreyBG scrollBar resize-ta" rows="1"
              [(ngModel)]="this.details.intermediate"
              (input)='this.growShrink($event, this.details.intermediate)'
            ></textarea>
            <div class="detailSubTitleGrid detailCharacterInfoText">Local</div>
            <textarea class="detailTextArea detailGreyBG scrollBar resize-ta" rows="1"
              [(ngModel)]="this.details.local"
              (input)='this.growShrink($event, this.details.local)'
            ></textarea>
            <div class="detailSubTitleGrid detailCharacterInfoText">Global</div>
            <textarea class="detailTextArea detailGreyBG scrollBar resize-ta" rows="1"
              [(ngModel)]="this.details.global"
              (input)='this.growShrink($event, this.details.global)'
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
