<div class="bodyClass">
    <div class="cInnerBody">
        <div cdkDropList (cdkDropListDropped)="drop($event)" class="cContainer scrollBar">
            <!-- [ngStyle]="{characterCardKeys[i]}"  -->
            <div *ngIf="charactersInDocument.length == 0"style="margin: 5% 0;">
                <span class="characterInfoText">Nothing to see here! Click the plus button to add your first character.</span>
            </div>
            <div cdkDrag id={{i}} class="cCard bigger" *ngFor="let docAesthetics of charactersInDocument; index as i" >
                <div class="cardBody">
                    <div class="example-handle" cdkDragHandle>
                        <svg fill="currentColor" viewBox="0 0 24 24">
                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                    <button #trash type="button" #card (click)="removeCard(card)" class="btn btn-icon-only trashButton"  placeholer="docAesthetics.content">
                        <fa-icon [icon]="trashIcon"></fa-icon>
                    </button>
                    <div class="characterCardTop">
                        <div class="topDivider imageDivider" style="padding-left: 0;">
                            <button id="upButton{{i}}" class="characterPhoto">
                                <input type="file" id="image{{i}}" accept="image/*" id="logo" (change)="onFileSelected($event, this.characterCardKeys[0], i)" style="position:absolute; opacity:0; top:0; left:0; width: 100%; height: 100%;">
                                <svg class = "icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M15,3.41421356 L15,7 L18.5857864,7 L15,3.41421356 Z M19,9 L15,9 C13.8954305,9 13,8.1045695 13,7 L13,3 L5,3 L5,21 L19,21 L19,9 Z M5,1 L15.4142136,1 L21,6.58578644 L21,21 C21,22.1045695 20.1045695,23 19,23 L5,23 C3.8954305,23 3,22.1045695 3,21 L3,3 C3,1.8954305 3.8954305,1 5,1 Z M13,13.4142136 L13,18 L11,18 L11,13.4142136 L9.70710678,14.7071068 L8.29289322,13.2928932 L12,9.58578644 L15.7071068,13.2928932 L14.2928932,14.7071068 L13,13.4142136 Z"/>
                                </svg>  
                            </button>
                        </div>
                        <div class="topDivider basicInfoDivider" style="margin: 0 1vw">
                            <div class = "basicInfoCol">
                                <div class = "basicInfoRow">
                                    <span class="characterInfoText">Name</span>
                                </div>
                                <div class = "basicInfoRow">
                                    <span class="characterInfoText">Age</span>
                                </div>
                                <div class = "basicInfoRow">
                                    <span class="characterInfoText">Gender</span>
                                </div>
                                <div class = "basicInfoRow">
                                    <span class="characterInfoText">Profession</span>
                                </div>
                            </div>
                            <div class = "basicInfoCol wide">
                                <div class = "basicInfoRow">
                                    <textarea #txtArea1 class=" textArea textAreaChar horizontalText greyBG greyBGChar scrollBar" rows="1" [value]="this.charactersInDocument[i][characterCardKeys[1]]" placeholder="" (input)="updateTxtContent(txtArea1, characterCardKeys[1], i)" ></textarea>
                                </div>
                                <div class = "basicInfoRow">
                                    <textarea #txtArea2 class=" textArea textAreaChar horizontalText greyBG greyBGChar scrollBar" rows="1" [value]="this.charactersInDocument[i][characterCardKeys[2]]" placeholder="" (input)="updateTxtContent(txtArea2, characterCardKeys[2], i)"></textarea>
                                </div>
                                <div class = "basicInfoRow">
                                    <textarea #txtArea3 class=" textArea textAreaChar horizontalText greyBG greyBGChar scrollBar" rows="1" [value]="this.charactersInDocument[i][characterCardKeys[3]]" placeholder="" (input)="updateTxtContent(txtArea3, characterCardKeys[3], i)"></textarea>
                                </div>
                                <div class = "basicInfoRow">
                                    <textarea #txtArea4 class=" textArea textAreaChar horizontalText greyBG greyBGChar scrollBar" style="height: 100%;" rows="1" [value]="this.charactersInDocument[i][characterCardKeys[4]]" placeholder="" (input)="updateTxtContent(txtArea4, characterCardKeys[4], i)"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="topDivider bioDivider" style="padding-right: 0;">
                            <div class = "basicInfoCol">
                                <div class = "basicInfoRow">
                                    <span class="characterInfoText">Bio</span>
                                </div>
                            </div>
                            <div class = "basicInfoCol wide">
                                <div class = "basicInfoRow">
                                    <textarea #txtArea5 class=" textArea textAreaChar greyBG greyBGChar scrollBar" style="height: 100%;" rows="1" [value]="this.charactersInDocument[i][characterCardKeys[5]]" placeholder="" (input)="updateTxtContent(txtArea5, characterCardKeys[5], i)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="characterCardBottom">
                        <div class="bottomDivider">
                            <div class="characterInfoText centerVert"><span style="height: fit-content;">Virtues</span></div>
                            <textarea #txtArea6 class=" textArea textAreaChar greyBG greyBGChar scrollBar" style="height: 100%;" [value]="this.charactersInDocument[i][characterCardKeys[6]]" placeholder="" (input)="updateTxtContent(txtArea6, characterCardKeys[6], i)"></textarea>
                        </div>
                        <div class="bottomDivider" style="margin: 0 1vw">
                            <div class="characterInfoText centerVert" ><span>Flaws</span></div>
                            <textarea #txtArea7 class=" textArea textAreaChar greyBG greyBGChar scrollBar" style="height: 100%;" [value]="this.charactersInDocument[i][characterCardKeys[7]]" placeholder="" (input)="updateTxtContent(txtArea7, characterCardKeys[7], i)"></textarea>
                        </div>
                        <div class="bottomDivider">
                            <div class="characterInfoText centerVert"><span>Goals</span></div>
                            <textarea #txtArea8 class=" textArea textAreaChar greyBG greyBGChar scrollBar" style="height: 100%;" [value]="this.charactersInDocument[i][characterCardKeys[8]]" placeholder="" (input)="updateTxtContent(txtArea8, characterCardKeys[8], i)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="addButtonContainer">
                <button #trash type="button" (click)="addCard()" class="btn ">
                    <fa-icon [icon]="plusIcon"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>