$r: 15px;

$outer-text-color: #000000;
$outer-font-size: 14px;

$title-font-size: min(3vh, 3vw);
$middle-font-size: min(2vh, 2vw);
$inner-font-size: min(1.5vh, 1.5vw);

$section-color: #e1e1e1;
$subsection-color: #ece8e8;

$borderState: none 2px;

$icon-size: min(4vh, 4vw);

$icon-container-size: min(2vh, 2vw);

.header-margin {
  margin-top: -19vh;
}

.outlet {
  position: relative;
  height: 92%;
  width: 100%;
  overflow: hidden;
}

.cardRibbonTitle {
  position: relative;
  border: #01a2ff 2px $borderState;
  width: 100%;
  height: 8%;

  font-family: "Roboto", sans-serif;
  font-weight: bold;

  font-size: min(4vw, 4vh);
  /* or 0% */
  display: flex;

  color: #32325d;

  align-items: center;
  padding-left: 2%;
}

.midTextFont {
  font-size: $middle-font-size;
  font-weight: 600;
}

.littleTextFont {
  font-size: $inner-font-size;
  font-weight: 400;
  margin-left: .4vw;
}

img {
  color: $outer-text-color;
  width: $icon-size;
  height: $icon-size;
}

.icon-size {
  width: $icon-size;
  height: $icon-size;
}

.bodyContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1%;
}

.save-button {
  position: relative;
  z-index: 100;
  transition: 0.2s;

  width: 3.5vw;
  height: 3.7vh;

  font-size: min(1.8vh, 1.8vw);
  line-height: 200%;
  border-radius: .8vh;

  color: #f6f3f3;
  background-color: #16425B;

  cursor: pointer;

  // border: red $borderState;
}

.save-button:hover {
  background-color: #0f2d3d;
  transform: translateY(-1px);
}

.backButtonContainerClass {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;

  position: relative;
  overflow: hidden;

  color: $outer-text-color;
  font-size: $outer-font-size;

  display: flex;
  align-items: center;
  text-align: center;

  .icon-container {
    height: 100%;
    width: 100%;
    cursor: pointer;

    display: flex;
    flex-direction: row;

    border: fuchsia $borderState;

    div {
      position: relative;
      align-self: center;
      text-align: center;

      display: flex;
      justify-content: center;

      //border: green $borderState;
    }

    .exit-button {
      margin-right: 0.3vw;
    }

    img {
      transform: rotate(180deg);
      height: 2.5vh;
      width: 2vw;
    }
  }

  .icon-container:hover {
    .exit-button {
      filter: invert(38%) sepia(99%) saturate(3773%) hue-rotate(329deg) brightness(98%) contrast(97%);
    }
  }

  .current-users {
    display: flex;
    align-items: center;

    &__count {
      margin-right: 10px;
    }
  }
}


.editor-container-Class {

  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  // border: #000000 solid 2px;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.548);

  // border-top-right-radius: $r;
  // border-top-left-radius: $r;
  // border-bottom-left-radius: $r;
  // border-bottom-right-radius: $r;
  border-radius: 5px;

  // border: red $borderState;
}

.markdown-wrapper {
  background-color: inherit;
  position: relative;
  height: 100%;
  width: 100%;
  border: blue $borderState;
}


.hide-toolbar {
  transform: rotate(-90deg);
  transition: 0.3s;

  position: absolute;
  top: -0.2vh;
  right: 2vw;

  z-index: 100;

  width: $icon-size;
  height: $icon-size;

  cursor: pointer;

  border: slateblue $borderState;

  filter: invert(67%) sepia(17%) saturate(11%) hue-rotate(314deg) brightness(107%) contrast(99%);
}

.hide-toolbar:hover {
  filter: none;
}

.open-sidebar-button:hover {
  filter: none;
}

.workspace-class {

  height: auto;
  width: 100%;

  padding: 1%;

  // border: solid 2px #691b1b;

  background-color: white;

  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;

  position: relative;
  overflow: hidden;

  border: green $borderState;

  div {
    border: crimson $borderState;
  }

  .open-sidebar-button {
    position: absolute;
    margin-left: -0.8vw;
    bottom: 1.6vh;
    z-index: 100;
    transform: rotate(180deg);
    transition: 0.3s;

    width: $icon-size;
    height: $icon-size;

    border: royalblue $borderState;

    cursor: pointer;

    // color : #bebebe;

    filter: invert(67%) sepia(17%) saturate(11%) hue-rotate(314deg) brightness(107%) contrast(99%);
  }

  .open-sidebar-button:hover {
    filter: none;
  }
}

.leftModuleClass {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 100%;
  background-color: #f6f3f3;

  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;

  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;

  border: black $borderState;

  transition: 0.5s;
}

.sidebarHide {
  width: 0px;
}

.sidebarShow {
  width: max(400px, 25%);
}

.leftModuleClass:focus {
  width: max(400px, 25%);
  outline: none;
}

.leftModuleClass:hover {
  width: max(400px, 25%);
  outline: none;
}

.workspaceheaderClass {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 10%;
  width: 100%;
  border: solid 2px #ffee00;

  display: flex;
  flex-direction: row;

  padding: 3px;

  position: relative;
  overflow: hidden;
}

$resizeTitleFont: min(3vw, 3vh);

.docTitle-text {
  font-family: "Roboto", sans-serif;
  font-style: bold 100px;
  font-size: $resizeTitleFont;
  border: #24b388 solid 2px;
  width: 100%;
  background-color: #d15706;

  align-content: center;
  color: rgb(0, 0, 0);
  //background-color: #24b388;
}

.extraInfoClass {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 10%;
  background-color: #2b3a09;
  position: relative;
  overflow: hidden;
}

.leftModuleTopClass {
  // padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2% 6%;
  align-items: center;

  // border: solid 2px #b32424;

  position: relative;
  overflow: hidden;

  border: #3a7ca5 $borderState;
}

.shareButtonContainerClass {
  padding: 0px 0px 0px 0px;

  height: 100%;
  width: 100%;
  // border: solid 2px #81c3d7;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;

  border: salmon $borderState;
}

.pinButtonContainerClass {
  padding: 0px 0px 0px 0px;

  height: 100%;
  width: 25%;
  // border: solid 2px #81c3d7;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;

  border: salmon $borderState;

  .icon-container {
    height: 80%;
    cursor: pointer;

    border: saddlebrown $borderState;;

    img {
      height: 2.5vh;
      width: 1.5vw;
    }
  }
}

.leftModuleBottomClass {
  height: 100%;
  width: 100%;
  // border: solid 2px #4c03f5;

  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;

  border: #d15706 $borderState;
}

.layoutTextContainer {
  width: 100%;

  // padding: 3% 6%;
  margin-bottom: 5%;
  margin-top: 3%;
  padding-left: max(16px, 6%);

  position: relative;
  overflow: hidden;

  border: rebeccapurple $borderState;
}

$resizeFontSize: min(2.5vw, 2.5vh);

.layoutText {
  font-family: "Roboto", sans-serif;
  font-style: bold 50px;
  font-size: max(25px, $resizeFontSize);
  text-align: left;
  color: $outer-text-color;
}

.layoutContainerClass {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
  border-radius: none;
  position: relative;
  overflow: hidden;

  border: greenyellow $borderState;
}

// DOCUMENT LAYOUT

@keyframes slideaway {
  from {
    display: block;
  }
  to {
    transform: translateX(-20px);
    opacity: 0;
  }
}

#sidebar {
  // animation: slideaway 400ms;
  // display: none;
  // transition: opacity 2000ms, display 2000ms;
  // display: none;
  // opacity: 0;
  // display: none;
}

.sidebar {
  margin: 0;
  padding: 0;

  font-size: 2vh;

  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a,
.dropdown-btn {
  display: block;
  color: rgb(0, 0, 0);
  padding: 16px;
  padding-left: max(16px, 6%);
  width: 100%;
  text-decoration: none;

  display: flex;
  align-items: center;

  border: 0;

  i {
    margin-left: auto;
  }

}

$sideFontColor: rgb(0, 0, 0);
$activeColor: #3a7ca5;
$activeFontColor: white;
$transistionTime: 100ms;

.section {
  width: 100%;
  border: none;
  text-align: left;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Active/current link */
.sidebar a.active {
  background-color: $activeColor;
  color: $activeFontColor;
  transition: $transistionTime;
}

.sidebar a.nActive,
.dropdown-btn {
  background-color: $section-color;
  color: $sideFontColor;
  transition: $transistionTime;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active),
.dropdown-btn:hover {
  background-color: #bdbdbd;
  transition: 150ms;
  color: rgb(0, 0, 0);
}

.dropdown-container {
  font-size: 1.8vh;
}

.dropdown-container a.nActive {
  background-color: $subsection-color;
  transition: 0.3s;
  span {
    padding-left: 1vw;
  }
}

.dropdown-container a.active {
  color: $activeFontColor;
  background-color: $activeColor;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  // margin: auto;
  // margin-top: 3%;
  width: fit-content;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.collapseBar {
  position: absolute;
  right: 0%;
  background-color: rgba(255, 0, 255, 0.247);
  top: 0%;
  width: 0.5vw;
  height: 100%;
}

.collapseBar:hover {
  cursor: pointer;
  background-color: fuchsia;
}

.hide {
  display: none;
  transition: 200ms;
}

.show-block {
  display: block;
  transition: 200ms;
}