<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="editor-layout.component.scss" />
</head>

<div class="header bg-gradient-tertiary" style="height: 19vh;"></div>

<div class="bodyContainer header-margin">
  <div id="editor-container" class="editor-container-Class">
    <div id="sidebar" class="leftModuleClass sidebarHide" tabindex="0" (click)="keepSidebarOpen()">
      <div id="sidebar-top" class="leftModuleTopClass">
        <div id="backbutton-container" class="backButtonContainerClass">
          <div class="icon-container" (click)="returnDashboard()">
            <div>
              <img
                class="exit-button"
                src="assets/img/icons/common/arrow-right-from-bracket-solid.svg"
                alt="share"
              />
              <!-- <span class="midTextFont">Back 2</span> -->
            </div>
            <div>
              <span class="midTextFont">Back</span>
            </div>
          </div>
        </div>
        <div id="share-export-buttons" class="shareButtonContainerClass">
          <!-- <img
            class="share-export-buttons__share-icon"
            src="assets/img/icons/common/share.svg"
            alt="share"
          /> -->
        </div>
      </div>
      <div id="sidebar-bottom" class="leftModuleBottomClass">
        <div id="layout-text" class="layoutTextContainer ribbon">
          <div class="layoutText"  ><span>{{this.documentTitle}}</span></div>
        </div>
        <div id="layout-container" class="layoutContainerClass">

          <div class="sidebar">
            <!-- <button class="dropdown-btn">
              Tematica
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container" style="display: none">
              <a class="nActive" href="#/editor">Link 1</a>
              <a class="nActive" href="#/editor">Link 2</a>
              <a class="nActive" href="#/editor">Link 3</a>
            </div> -->
            <!-- <a class="nActive" href="#/editor">Tematica</a> -->
            <!-- *ngFor="let sec of documentLayout; index as i" -->
            <div *ngFor="let sec of documentLayout; index as i">
              <div *ngIf="sec.subSections.length !== 0;else alt">
                <button class="dropdown-btn">
                  <span>{{sec.section}}</span>
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container" style="display: none" >
                  <a class="nActive" (click)="switchSection(subSec)" [routerLink]="[sec.paths[j]]" queryParamsHandling="merge" *ngFor="let subSec of sec.subSections; index as j"><span>{{subSec}}</span></a>
                </div>
              </div>
              <ng-template #alt>
                <a class="nActive" (click)="switchSection(sec.section)" [routerLink]="[sec.paths[0]]" queryParamsHandling="merge"><span>{{sec.section}}</span></a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div id="sidebar-top" class="leftModuleTopClass">
        <div id="backbutton-container" class="backButtonContainerClass">
          <!-- <div class="current-users">
            <div class="current-users__count">4</div>
            <img
              class="share-export-buttons__share-icon current-users__icon"
              src="assets/img/icons/common/people.svg"
              alt="share"
            />
          </div> -->
          <div class="icon-container">
            <div>
              <a class="save-button" (click)="manualSave()"><span>{{this.saveButtonText}}</span></a>
            </div>
            <div>
              <span class="littleTextFont">Last Updated: {{this.lastManualSaveTimeInMinutes}}m ago</span>
            </div>
          </div>
        </div>
        <div id="share-export-buttons" class="pinButtonContainerClass">
          <div class="icon-container" (click)="toggleKeepSidebarOpen()">
              <fa-icon id="pin" [icon]="pinIcon" class="pinIcon unpinned"></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div id="workspace" class="workspace-class">
      <div class="cardRibbonTitle">
        <span> {{currentTitle}} </span>
      </div>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
      <img
        (click)="openSidebar()"
        class="open-sidebar-button"
        src="assets/img/icons/common/chevrons-left.svg"
        alt="share"
      />
    </div>
  </div>
</div>
