/* BlueBody */
$borderState: none;

* {
  border: lime $borderState 3px;
}

header {
  padding: 50vh 0;
}

.setupBodyClass {
  position: relative;
  width: 100%;
  height: 95%;

  min-height: 200px;

  padding: 1% 6%;
}

.cardClass {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;


  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.548);

  // border-top-right-radius: $r;
  // border-top-left-radius: $r;
  // border-bottom-left-radius: $r;
  // border-bottom-right-radius: $r;
  border-radius: 5px;

}

.cardRibbon {
  /* Ribbon */

  position: relative;

  margin-top: 4%;
  width: 100%;
  height: 20%;

  align-items: center;
  justify-content: space-between;

  padding: 0px 3vh;

  display: flex;
}


/* TitleBox */

.cardRibbonTitle {
  position: relative;
  border: #01a2ff 2px $borderState;
  width: fit-content;
  height: fit-content;

  font-family: "Roboto", sans-serif;
  font-weight: bold;

  font-size: min(5vw, 5vh);

  /* or 0% */
  display: flex;

  color: #ffffff;
}

.cardBottom {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;

  border-color: rgb(55, 0, 252);

  max-height: 100%;

  overflow: hidden;

  padding: 3% 0px;
}

$scrollbar-width: 6px;
$default: #f7f7f7;
$tertiary: #c7c7c7;

.cardContent {

  position: relative;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none rgb(252, 0, 0) 3px;
  padding: 3%;

}

.cardContent::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: $default;
  z-index: 2;
}

/* Track */
.cardContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $default;
}

/* Handle */
.cardContent::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: $tertiary;
}

.cardNavigation {
  position: relative;
  width: fit-content;
  height: fit-content;
  bottom: 0%;

  display: flex;
  align-items: center;

  border-color: rgb(235, 3, 204);

}

$lower: 30pt;
$upper: 50pt;
$relative: 3vw;
$relative2: 3vh;

$size : min(4vw, 4vh);

.arrows {
  position: relative;


  width: $size;
  height: $size;

  border-color: rgb(0, 252, 0);
}

.btn {
  &:not(:hover) {
    box-shadow: none;
  }

  &:hover {
    background-color: #e4e4e4;

  }

}

.fa-home{
  transition: background-color 0.2s ease-in-out;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: $size;

}

.btn-icon-only{
  transition: background-color 0.2s ease-in-out;
  width: calc($size * 1.5);
  height: calc($size * 1.5);
  align-items: center;

  &:hover {
    
    background-color: #ffffff;
  }

  &:not(hover){
    background: none;
  }

  &:hover .fa-home{
    color: #16425B;
  }

  &:not(hover) .fa-home{
    color: #e0e0e0;
  }
  

}